name: "Test"
on:
  pull_request:
    types: [labeled]
jobs:
  run_all:
    if: ${{ github.event.label.name == 'test' }}
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Dotnet Test
        run: dotnet test Cmpnnt.Pia.Test
    